@import './vendor/styles/vendors/normalize.css';
@import './vendor/styles/utilities/swiper.scss';
@import './vendor/styles/utilities/typography.scss';
@import './vendor/styles/utilities/variables.scss';

// Other page styles
body {
	font: 400 14px/1.2 $font-roboto;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	width: 100%;
	background: #0D0D0D;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.stop-scrolling {
	display: block;
	overflow: hidden;
}

.page {
	padding-left: 25px;
	padding-right: 25px;

	@media screen and (max-width: $breakpoint-extra-small) {
		padding-left: 15px;
		padding-right: 15px;
	}

	&__header {
		.header {
			transition: all 0.5s ease;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			z-index: 99;

			background: #0D0D0D;

			&__logo {
				margin-right: 40px;

				@media screen and (min-width: $breakpoint-medium) and (max-width: 900px) {
					margin-right: 0;
				}

				@media screen and (max-width: $breakpoint-medium) {
					svg {width: 100px;}
				}
			}

			&__inner {
				padding: 0 15px;
				position: relative;
				width: 95%;
				max-width: 1366px;
				max-height: 50px;
				margin: 15px auto;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;

				@media screen and (max-width:$breakpoint-extra-small) {
					
				}
			}

			.nav {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;

				padding: 0;
				margin: 0 auto;
		
				@media screen and (max-width: $breakpoint-medium) {
					display: none;
				}
		
				&.on {
					display: flex;
					align-items: flex-start;
					flex-direction: column;

					position: absolute;
					top: 100%;
					left: 0;
					right: 0;
					
					margin: 0;
					z-index: 1000;
					width: 100%;
					background: #0D0D0D;
					border-bottom: 1px solid #2F2F2F;
				}
		
				&__list {
					display: flex;
					align-items: center;
					margin: 0;
					padding: 0;
					list-style: none;
		
					@media screen and (max-width: $breakpoint-medium) {
						flex-direction: column;
						align-items: flex-start;
						width: 100%;
					}
				}

				&__item {
					margin-right: 32px;

					@media screen and (min-width: $breakpoint-medium) and (max-width: 900px) {
						margin-right: 20px;
					}

					@media screen and (max-width: $breakpoint-medium) {
						margin: 0 auto;
						padding: 15px 0;
						width: 90%;
						border-bottom: 1px solid #2F2F2F;
					}

					&:last-child {
						margin-right: 0;

						@media screen and (max-width: $breakpoint-medium) {
							margin-right: auto;
							border-bottom: none;
						}
					}

					a {
						font-size: 14px;
						line-height: 16px;
						color: #F5F5F5;

						text-decoration: none;
						outline: none;
						transition: all 0.3s ease-in-out;

						&:hover {
							filter: opacity(0.7);
							cursor: pointer;
						}
					}
				}
		
				&__link {
					font-size: 13px;
					line-height: 16px;
					text-transform: uppercase;
					color: #fff;
		
					@media screen and (max-width: $breakpoint-medium) {
					}
				}
		
				&__toggle {
					display: none;
					width: 26px;
					height: 8px;
					position: absolute;
					z-index: 101;
		
					@media screen and (max-width: $breakpoint-medium) {
						display: inline-block;
						right: 24px;
					}
			
					span:after, span:before {
						content: "";
						position: absolute;
						left: 0;
						top: -8px;
					}
					
					span:after{
						top: 8px;
					}
					span {
						position: relative;
						display: block;
					}
		
					span, span:after, span:before {
						width: 100%;
						height: 2px;
						background-color: #fff;
						transition: all 0.3s;
						backface-visibility: hidden;
						border-radius: 2px;
					}
		
					&.on span {
						background-color: transparent;
					}
					
					&.on span:before {
						transform: rotate(45deg) translate(5px, 5px);
					}
		
					&.on span:after {
						transform: rotate(-45deg) translate(6px, -7px);
					}
		
					&.on + #menu {
						opacity: 1;
						visibility: visible;
					}
				}
			}

			.language-switcher {
				margin-right: 15px;
				position: relative;
				right: 20px;
				text-transform: uppercase;

				@media screen and (max-width: $breakpoint-medium) {
					right: 60px;
				}
				
				@media screen and (min-width: 769px) and (max-width: 850px) {
					right: 5px;
				}
		
				&__language {
					display: flex;
					align-items: center;
					justify-content: center;
					cursor: pointer;
				}
		
				&__name {
					color: #fff;
					position: relative;

					&:hover {
						color:#ff5500;
					}
		
					&:after {
						content: '';
						background-image: url(./vendor/images/icons/arrow.svg);
						width: 8px;
						position: absolute;
						height: 5px;
						top: 5px;
						right: -15px;
						padding-right: 1px;
					}

					&.on {
						&:after {
							transform: rotate(180deg);
						}
					}
				}
		
				&__list {
					display: none;
					list-style: none;
					margin: 0;
					position: absolute;
					top: 25px;
					right: -15px;
					background-color: #121212;
					box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
					padding: 10px;
					border-radius: 2px;
		
					&.on {
						display: block;
						border-top: 1px solid #2F2F2F;
						border-bottom: 1px solid #2F2F2F;
					}
		
					.language-switcher__name {
						color: #FFF;
		
						&:after {
							content: none;
						}
					}
				}
		
				&__item {
					margin-top: 10px;
					border-bottom: 1px solid #2F2F2F;
					padding-bottom: 10px;
    				width: 100%;

					&:hover {
						.language-switcher__name {
							color:#ff5500;
						}
					}
		
					&:first-child {
						margin-top: 0;
					}

					&:last-child {
						border-bottom: none;
						padding-bottom: 0;					
					}
				}
		
				&__link {
					display: flex;
					align-items: center;
					text-decoration: none;
				}
			}

			&__btns {
				display: flex;
				align-items: center;
				justify-content: center;

				@media screen and (max-width:$breakpoint-medium) {
					display: none;
				}

				p {
					font-size: 12px;
					line-height: 14px;
					color: #fff;
					margin: 0 0 5px;
				}

				.btn {
					&__link {
						display: block;

						font-weight: 500;
						font-size: 14px;
						line-height: 16px;
						text-align: center;
						color: #ffffff;
						text-decoration: none;
						outline: none;
						color: #ff5500;

						transition: all 0.3s ease-in-out;

						&:hover {
							filter: opacity(0.5);
						}

						&.--bigger {
							color: #ff5500;
							border: 1px solid #FF5500;
							padding: 12px 18px;
							background-color: transparent;
							border-radius: 12px;
							margin-left: 24px;

							@media screen and (min-width: $breakpoint-medium) and (max-width: 900px) {
								padding: 6px 9px;
								margin-left: 12px;
							}

							&:hover {
								background: #ff5500;
								color: #ffffff;
								filter: none;
							}
						}						
					}
				}
			}
		}
	}

	&__inner {
		.launches {
			padding-top: 150px;
			display: flex;
			justify-content: center;

			@media screen and (max-width:$breakpoint-medium) {
				padding-top: 100px;
			}

			.container {
				position: relative;
				z-index: 2;
				margin: 0;
			}

			&__container {
				&.--desktop {
					background-color: #FFF;
					background-image: url(../images/box.png);
					background-size: 500px;
					background-repeat: no-repeat;
					background-position: 40% -100%;

					margin-left: 50px;
					border-radius: 50%;
					height: 450px;
					width: 450px;

					@media screen and (max-width:$breakpoint-medium) {
						display: none;
					}
				}

				&.--mobile {
					background-image: url(../images/box.png);
					background-size: cover;
					background-repeat: no-repeat;

					margin: 20px auto -10px;
					height: 300px;
					width: 300px;
					
					@media screen and (min-width: 769px) {
						display: none;
					}
				}
			}

			&__headline {
				margin: 0;
				padding: 0;
				font-weight: 700;
				font-size: 48px;
				line-height: 60px;
				color: #F5F5F5;
				font-weight: bold;
				text-align: left;
				max-width: 525px;
				position: relative;
				z-index: 2;

				span {
					background: linear-gradient(272.3deg, #FD7B01 -2.41%, #FFBA08 30.47%, #FF5500 95.54%);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
				}

				@media screen and (max-width: $breakpoint-medium) {
					text-align: center;
					font-size: 32px;
					line-height: 40px;
					margin: 0 auto;
				}

				@media screen and (max-width: $breakpoint-extra-small) {
					font-size: 28px;
					line-height: 35px;

				}
			}

			&__text {
				margin: 10px auto 0;
				font-size: 20px;
				line-height: 130%;
				color: #C4C4C4;
				max-width: 556px;
				text-align: left;
				position: relative;
				z-index: 2;

				@media screen and (max-width: $breakpoint-medium) {
					text-align: center;
					font-size: 18px;
					max-width: 600px;
				}

				@media screen and (max-width: $breakpoint-small) {
					font-size: 17px;
				}

				@media screen and (max-width: $breakpoint-extra-small) {
					font-size: 15.1px;
				}
			}

			&__btn {
				display: flex;
				align-items: center;
    			justify-content: center;
				margin: 48px 0 0;
				max-width: max-content;
				min-width: 112px;
				padding: 0 20px;
				height: 42px;
				background: linear-gradient(90deg, #FF5500 0%, #FD7B01 66.89%);
				border-radius: 12px;
				font-weight: 700;
				font-size: 16px;
				line-height: 23px;
				color: #ffffff;
				text-decoration: none;
				outline: none;
				transition: all 0.3s ease-in-out;
				cursor: pointer;
				position: relative;
				z-index: 2;

				@media screen and (max-width: $breakpoint-medium) {
					margin-left: auto;
					margin-right: auto;
					font-size: 18px;
					width: 140px;
					height: 60px;
				}
			}
		}

		.start-trading {
			position: relative;

			&::after {
				content: "";
				position: absolute;
				height: 836px;
				background-image: url('../images/bg-up.png');
				background-repeat: no-repeat;
				background-size: cover;

				top: -333px;
				left: 0;
				right: 0;
				z-index: 0;

				@media screen and (max-width:$breakpoint-medium) {
					background-position: center;
					height: 100%;
					top: -55%;
				}
			}

			.container {max-width: 954px;}

			&__inner {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: flex-start;

				padding-bottom: 104px;
				position: relative;
				z-index: 2;
				margin-top: 83px;

				@media screen and (max-width:$breakpoint-medium) {
					flex-direction: column;
					padding-bottom: 50px;
				}
			}

			&__headline {
				font-weight: 400;
				font-size: 48px;
				line-height: 54px;
				text-align: center;
				color: #F5F5F5;
				margin: 0;
				position: relative;
				z-index: 2;
			}

			&__card {
				position: relative;
				margin: 48px 0;
				width: 25%;

				@media screen and (max-width:$breakpoint-medium) {
					margin-left: auto;
					margin-right: auto;
					width: 100%;

					& svg {
						width: 48px;
						height: 48px;
					}
				}
			}

			&__title {
				margin: 24px auto 0;
				font-weight: bold;
				font-size: 47px;
				line-height: 28px;
				text-align: center;
				color: #F5F5F5;
				position: relative;
				z-index: 2;

				@media screen and (min-width: $breakpoint-medium) and (max-width: 988px) {
					font-size: 36px;
					line-height: 14px;
				}

				@media screen and (max-width:$breakpoint-medium) {
					font-size: 32px;
					line-height: 37px;
					margin: 12px auto 0;
					min-width: 160px;
				}
			}

			&__sub {
				color: #C4C4C4;
				font-size: 20px;
				line-height: 127.1%;

				@media screen and (max-width:$breakpoint-medium) {
					font-size: 16px;
					margin: 0;
				}
			}

			&__links {
				margin: 8px 0 0;
				color: #F5F5F5;
				font-size: 20px;
				line-height: 127.1%;
			}

			&__link {
				font-size: 18px;
				line-height: 127.1%;
				margin: 0;
				color: #ff5500;
				outline: none;

				transition: all 0.3s ease-in-out;

				&:hover {
					filter: opacity(0.5);
				}
			}

			br {
				display: block;
				margin: 12px 0;
			}
		}

		.trading-commission {
			padding: 96px 0 168px;
			position: relative;
			z-index: 3;

			@media screen and (max-width: $breakpoint-medium) {
				padding: 50px 0;
			}

			&__bg {
				background: url(../images/notebook.png);
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				min-height: 185px;

				@media screen and (min-width:435px) {
					min-height: 250px;
				}
				@media screen and (min-width:530px) {
					min-height: 300px;
				}
				@media screen and (min-width:660px) {
					min-height: 400px;
				}
				@media screen and (min-width:860px) {
					min-height: 450px;
				}
				@media screen and (min-width:950px) {
					min-height: 500px;
				}

				@media screen and (min-width: $breakpoint-large) {
					position: absolute;
					width: 50%;
					right: 0;
					top: 45px;
					background-position: 30px 100%;
				}
			}

			&__inner {
				position: relative;
				z-index: 2;
			}

			&__headline {
				font-weight: bold;
				font-size: 48px;
				line-height: 56px;
				text-align: left;
				color: #F5F5F5;
				margin: 0;

				@media screen and (min-width:$breakpoint-large) {
					max-width: 68%;
				}

				@media screen and (max-width:$breakpoint-medium) {
					font-size: 32px;
					line-height: 37px;
				}

				@media screen and (min-width:515px) and (max-width:$breakpoint-small) {
					width: 50%;
				}

				span {					
					background: linear-gradient(272.3deg, #FD7B01 -2.41%, #FFBA08 30.47%, #FF5500 95.54%);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;

					@media screen and (max-width:$breakpoint-extra-small) {
						max-width: 210px;
						display: block;
					}
				}
			}

			&__list {
				font-size: 20px;
				line-height: 2;
				text-align: left;
				color: #F5F5F5;

				@media screen and (min-width:$breakpoint-large) {
					max-width: 50%;
				}

				@media screen and (max-width:$breakpoint-medium) {
					font-size: 14px;
					line-height: 21px;
					padding-inline-start: 20px;
				}
			}

			&__text {
				font-size: 18px;
				line-height: 146.1%;
				text-align: left;
				color: #C4C4C4;

				@media screen and (min-width:$breakpoint-large) {
					max-width: 50%;
				}

				@media screen and (max-width:$breakpoint-medium) {
					max-width: max-content;
					line-height: 21px;
					margin: 30px 0;
				}
				@media screen and (max-width:$breakpoint-small) {
					font-size: 17px;
				}
				@media screen and (max-width:$breakpoint-extra-small) {
					font-size: 13px;
				}

				b {
					color: #F5F5F5;
				}
			}

			&__btn {
				display: flex;
				align-items: center;
    			justify-content: center;
				margin: 48px 0 0;
				min-width: 200px;
				max-width: max-content;
				padding: 0 20px;
				height: 50px;
				background: linear-gradient(90deg, #FF5500 0%, #FD7B01 66.89%);
				border-radius: 12px;
				font-weight: 700;
				font-size: 16px;
				line-height: 23px;
				color: #ffffff;
				text-decoration: none;
				outline: none;
				transition: all 0.3s ease-in-out;
				cursor: pointer;
				position: relative;
				z-index: 2;

				@media screen and (max-width:$breakpoint-medium) {
					margin: 0 auto;
				}
			}

			&__cards {
				margin: 48px auto 0;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
			}

			&__card {
				.card {
					&__img {
						display: flex;
						align-items: center;
						justify-content: center;
						min-width: 244px;
						max-width: 244px;

						padding: 20px 10px;

						border: 2px solid rgba(255, 85, 0, 0.3);
						box-sizing: border-box;
						border-radius: 24px;
						box-shadow: 0px 0px 16px rgba(255, 85, 0, 0.5);

						transition: all 0.3s ease-in-out;

						svg {
							transition: all 0.3s ease-in-out;
						}
					}

					&__title {
						margin: 0;
						font-weight: 500;
						font-size: 24px;
						line-height: 28px;
						text-align: left;
						color: #FF5500;
						margin-left: 12px;
						transition: all 0.3s ease-in-out;
					}

					&__describe {
						margin: 16px 0 0;
						font-weight: 300;
						font-size: 16px;
						line-height: 127.1%;
						color: #F5F5F5;
						text-align: center;

						strong {
							color: #FFFFFF;
							font-weight: bold;
						}
					}
				}

				svg {
					stroke: #ff5500;
					path {
						stroke: #ff5500;

						&:last-child {
							fill: #ff5500;
						}
					}
				}

				&:hover {
					cursor: pointer;

					.card {
						&__title {
							color: #F5F5F5;
						}

						&__img {
							box-shadow: 0px 0px 4px rgba(255, 85, 0, 0.5);
							border: 2px solid rgba(255, 85, 0, 0.3);
							background: #FF5500;

							svg {
								stroke: #F5F5F5 !important;
								path {
									stroke: #F5F5F5 !important;

									&:last-child {
										fill: #F5F5F5;
									}
								}
							}
						}
					}
				}
			}
		}

		.why-trade {
			overflow: hidden;
			position: relative;
			z-index: 2;
				
			&::after {
				content: '';
				position: absolute;
				width: 32px;
				height: 52px;
				right: 20%;
				top: 45%;

				visibility: hidden;
				opacity: 0;
				transition: all .3s ease-in-out;

				background-image: url(../images/icons/scroll.svg);
				background-size: contain;
				background-repeat: no-repeat;

				@media screen and (max-width:$breakpoint-medium) {
					display: none;
				}
			}				

			&:hover {
				&::after, .swiper-button-next, .swiper-button-prev {	
					visibility: visible;
					opacity: 1;
				}
			}

			&__inner {
				padding: 72px 0 120px;

				@media screen and (max-width:$breakpoint-medium) {
					padding: 100px 0;
				}
			}

			&__container {margin: 0;}

			&__context {
				margin: 0;
				font-weight: bold;
				font-size: 48px;
				line-height: 56px;
				color: #f5f5f5;

				@media screen and (max-width:$breakpoint-medium) {
					font-size: 32px;
					line-height: 37px;
					font-weight: normal;
				}

				&::after {
					content: "";
					position: absolute;
					height: 836px;
					
					background-image: url('../images/bg-down.png');
					background-repeat: no-repeat;
					background-size: contain;
					background-position: center;

					top: -225px;
					left: 0;
					right: 0;
					z-index: -1;

					@media screen and (max-width:$breakpoint-medium) {
						background-size: cover;
						top: -430px;
					}
				}
			}

			&__headline {
				margin: 24px auto 0;
				font-weight: 700;
				font-size: 48px;
				line-height: 56px;
				text-align: left;
				background: linear-gradient(294.3deg, #FD7B01 69.59%, #FFBA08 85.47%, #FF5500 92.54%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				
				@media screen and (max-width:$breakpoint-medium) {
					font-size: 31px;
					line-height: 37px;
					text-align: center;
				}
			}

			&__text {
				margin: 8px auto 0;
				font-size: 20px;
				line-height: 147.1%;
				color: #C4C4C4;
				text-align: left;

				@media screen and (max-width:$breakpoint-medium) {
					font-size: 20px;
					line-height: 26px;
					text-align: center;
					margin-left: auto;
					margin-right: auto;
				}
			}

			@media screen and (min-width:769px) {
			.swiper {
				&-container-vertical {
					height: 200px;
					overflow: hidden;
					margin: 0 auto;
    				max-width: 740px;
					
					cursor: pointer;

					@media screen and (max-width:$breakpoint-medium) {
						padding-left: 0;
						height: 300px;
					}
				}

				&-slide {cursor: pointer;}

				&-button {
					&-container {
						position: absolute;
						bottom: 0;
						right: 14%;
						width: 55px;
						height: 20px;
					}

					&-prev,
					&-next {
						position: absolute;
						width: 10px;
						height: 20px;
						right: 20.6%;
						bottom: 33%;
						transform: rotate(90deg);

						background-image: url(./vendor/images/icons/swiper-arrow-red.svg);
						background-size: contain;
						background-repeat: no-repeat;

						visibility: hidden;
						opacity: 0;
		
						transition: all .3s ease-in-out;
						z-index: 99;

						&:hover {
							cursor: pointer;
							filter: opacity(0.5);
						}

						@media screen and (max-width:$breakpoint-medium) {
							display: none;
						}
					}

					&-prev {
						left: unset;
						transform: rotate(-90deg);
						top: 35%;
					}

					&-disabled {
						pointer-events: unset !important;
					}
				}
			}
			}


			@media screen and (max-width:$breakpoint-medium) {
				.parallax, .parallax-title {
					opacity: 0;
				}
				.active {
					opacity: 1;
				}
			}
		}

		.beneficial {
			position: relative;
			padding: 100px 0 50px;

			@media screen and (max-width:$breakpoint-medium) {
				padding: 50px 0 ;
			}

			&__inner {
				background-image: url(../images/carbon.png);
				background-position: 55% 40%;
				background-size: auto;
				background-repeat: no-repeat;
				z-index: -1;
			}

			&__content {
				padding: 50px 0 100px;

				@media screen and (max-width:$breakpoint-medium) {
					display: flex;
					justify-content: space-between;
					padding: 0;
				}

				.container {
					display: flex;
					justify-content: space-between;
					padding: 50px 0;

					@media screen and (max-width:$breakpoint-medium) {
						display: block;
						padding: 0 0 50px;
					}
				}
			}

			&__headline {
				font-weight: bold;
				font-size: 48px;
				line-height: 56px;
				color: #f5f5f5;

				@media screen and (max-width:$breakpoint-medium) {
					font-weight: normal;
					font-size: 32px;
					line-height: 37px;
					margin-bottom: 0;
				}
			}

			&__item {
				width: 200px;

				@media screen and (max-width:$breakpoint-medium) {
					margin: 50px auto;
					width: 150px;

					svg {
						width: 32px;
						height: 32px;
					}
				}

				@media screen and (max-width:$breakpoint-extra-small) {
					width: 130px;
				}
			}

			&__text {
				font-size: 20px;
				line-height: 19px;
				color: #F5F5F5;

				@media screen and (max-width:$breakpoint-medium) {
					font-size: 14px;
					line-height: 147.2%;
				}

				@media screen and (max-width:$breakpoint-extra-small) {
					font-size: 13px;
				}
			}
		}
	}

	&__footer {
		height: 100%;
		width: 100%;
		padding-bottom: 60px;
		background: #0D0D0D;

		@media screen and (max-width:$breakpoint-medium) {
			padding-bottom: 30px;
		}

		.footer {
			&__inner {
				padding-top: 60px;
				border-top: 1px solid #737373;
				display: flex;
				flex-direction: row;
				align-items: flex-start;
				justify-content: space-between;

				@media screen and (max-width:$breakpoint-medium) {
					padding-top: 30px;
					flex-direction: column;
				}
			}

			&__logo {
				margin-right: 70px;

				@media screen and (max-width:$breakpoint-large) {
					display: inline-flex;
					margin-bottom: 15px;

				}

				@media screen and (max-width: $breakpoint-extra-small) {
					svg {
						width: 100px;
					}
				}
			}

			&__documents {
				margin-top: 26px;

				@media screen and (max-width:$breakpoint-medium) {
					display: flex;
					justify-content: space-between;
				}

				.documents {
					&__link {
						font-weight: 100;
						font-size: 20px;
						line-height: 127.1%;
						text-decoration-line: underline;
						color: #c4c4c4;
						margin-right: 15px;
						transition: all 0.3s ease-in-out;

						@media screen and (max-width:$breakpoint-medium) {
							font-size: 13px;
						}

						&:hover {
							color: #ff5500 !important;
							cursor: pointer;
						}
					}
				}
			}

			&__text {
				text-align: left;
				margin-right: 42px;

				@media screen and (max-width:$breakpoint-medium) {
					margin: 0 auto;
				}

				p {
					margin: 0;
					font-size: 13px;
					line-height: 20px;
					color: #737373;
					opacity: 0.8;
					margin-bottom: 8px;

					&:last-child {
						margin-bottom: 0;
					}

					@media screen and (max-width:$breakpoint-medium) {
						font-size: 11px;
					}
				}
			}

			&__social {
				display: flex;
				flex-direction: column;

				@media screen and (max-width:$breakpoint-medium) {
						display: inline-flex;
						flex-direction: row;
						position: absolute;
						right: 33px;
						padding: 14px 0;
				}

				@media screen and (max-width:$breakpoint-extra-small) {
						padding: 8px 0;
				}

				p {
					font-weight: 100;
					margin: 0;
					font-size: 17px;
					line-height: 17px;
					color: #F5F5F5;
					margin-bottom: 24px;

					@media screen and (max-width:$breakpoint-medium) {
						margin: 0 16px 0 0;
					}

					@media screen and (max-width:$breakpoint-extra-small) {
						font-size: 13px;
						line-height: 13px;
					}
				}

				.links {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					width: 100px;

					@media screen and (max-width:$breakpoint-extra-small) {
						width: 90px;
					}

					@media screen and (max-width:$breakpoint-extra-small) {
						svg {

							width: 12px;
							height: 12px;
						}
					}

					a {
						transition: all 0.3s ease-in-out;

						svg path {
							transition: all 0.3s ease-in-out;
							fill: #737373;
						}
						&:hover {
							cursor: pointer;
							
							svg path {
								fill: #FF5500;
							}
						}
					}
				}
			}
		}
	}
}

.home {
	text-align: center;
	color: #FFF;

	&-headline {
		font-size: 40px;
		margin-bottom: 0;
	}

	&-subheadline {
		font-size: 18px;
	}

	&-link {
		color: #ff4400;
		text-transform: uppercase;
	}
}

@keyframes marquee {
	0%   { transform: translate(3%, 0); }
	100% { transform: translate(-99%, 0); }
}

